h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#knife {
    position: fixed;
    left: 30%;
    top: 30%;
}

#image {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}