@font-face {
    font-family: "Memoment Cat";
    src: url('./font/memomentKkukkkuk.ttf') format('truetype');
}

@font-face {
    font-family: 'RixInuaridurine';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

body {
    background-color: #E8CBA8;
}

h1 {
    color: #9B5740;
    font-family: "Memoment Cat";
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#knife {
    position: fixed;
    left: 30%;
    top: 30%;
    transform-origin: 0 50%;
}

#cuttingBoard {
    position: fixed;
}

#trash {
    position: fixed;
}

#bowl {
    position: fixed;
}

#image {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 100% 50%;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4B2E14;
    
    font-size: 48px;
    font-family: 'RixInuaridurine';
    letter-spacing: 2px;
}

#timer {
    position: fixed;
    left: 100%;
    top: 0%;
    transform: translate(-200%, 0%);

    font-size: 20px;
    font-family: "Memoment Cat";
    color: #4B2E14;
}

#saving {
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-self: center;
    align-items: center;
    
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

@keyframes chopping {
    0% {
        transform: rotate(0deg);
    } 50% {
        transform: rotate(20deg);
    } 100% {
        transform: rotate(0deg);
    }
}

@keyframes chopped {
    0% {
        transform: scale(100%, 100%);
    } 50% {
        transform: scale(90%, 100%);
    } 100% {
        transform: scale(100%, 100%);
    }
}

@keyframes save {
    0% {
        transform: translate(-50%, -50%) translate(0%, 0%);
    } 100% {
        transform: translate(-50%, -50%) translate(150%, 0%);
    }
}

@keyframes waste {
    0% {
        transform: translate(-50%, -50%) translate(0%, 0%);
    } 100% {
        transform: translate(-50%, -50%) translate(-150%, 0%);
    }
}

.knifeAnimation {
    animation: chopping 0.8s ease;
}

.vegAnimation {
    animation: chopped 0.8s ease;
}

.saveAnimation {
    animation: save 0.5s ease;
}

.wasteAnimation {
    animation: waste 0.5s ease;
}